<div class="container">
  <h1>All my Tasks</h1>

  <% @tasks.each do |task| %>
    <div class="checkbox">
      <%= check_box_tag task.id, task.completed %>
      <h3><%= task.title %></h3>
    </div>
  <% end %>
</div>

