/*
 *= require font-awesome
 */
@import "font-awesome";
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Helvetica';
}
.checkbox {
 display: flex;
 margin-bottom: 12px;
}

h1 {
  color: rgba(0,0,0,0.7);
}
.checkbox h3 {
  margin: 0;
  margin-left: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center
}

a {
  text-decoration: none;
}


.details {
  width: 30%;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 24px 12px;
  color: rgba(0,0,0,0.8);
}

.show-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.form-container {
  margin: 0 auto;
  padding: 10px;
  width: 50%
}

.form-container submit {
  margin: 12px auto;
}

.submit-link {
  display: flex;
  justify-content: space-between;
}

.links-edit {
  display:flex
}

.links-edit h3 {
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.1);
  padding: 4px 18px;
  border-radius: 4px;
  margin: 4px 20px;
}
